<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Rentals</title>
</head>
<body>
<div layout:fragment="main-content">
    <div>
        <h2 th:text="${(title != null) ? title : 'Rental List'}" class="mt-4"></h2>
    </div>
    <div th:if="${not #lists.isEmpty(rentals)}" class="table-container">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Rental Period</th>
                <th th:if="${viewingMyRentals == null and viewingMyRentalsRequests == null}">Renter</th>
                <th>Home</th>
                <th>People</th>
                <th>Price</th>
                <th th:if="${viewingMyRentals == null}">Status</th>
                <th sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HOMEOWNER')">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rental : ${rentals}">
                <td th:text="${#temporals.format(rental.startDate, 'MM/dd/yyyy') + ' - ' + #temporals.format(rental.endDate, 'MM/dd/yyyy')}"></td>
                <td th:if="${viewingMyRentals == null and viewingMyRentalsRequests == null}" th:text="${rental.renter.firstName + ' ' + rental.renter.lastName}"></td>
                <td><a th:href="@{'/home/' + ${rental.home.id} + '?hideButtons'}" th:text="${rental.home.characteristics.area + ', ' + rental.home.characteristics.address}" target="_blank"></a></td>
                <td th:text="${rental.numberOfPeople}"></td>
                <td th:text="${rental.totalPrice + '€'}"></td>
                <td th:if="${viewingMyRentals == null}" th:text="${rental.requestProcessedAt == null ? 'Pending' : (rental.accepted ? 'Accepted' : 'Declined')}"></td><td>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/rental/' + ${rental.id}}" method="post"
                      style="display: inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this rental?');">
                        Delete
                    </button>
                </form>
                <form th:if="${(#authentication.principal.id == rental.home.homeOwner.id) and rental.accepted == null}" th:action="@{'/rental/accept/' + ${rental.id}}"
                      method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="patch"/>
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                </form>
                <form  th:if="${(#authentication.principal.id == rental.home.homeOwner.id) and rental.accepted == null}" th:action="@{'/rental/reject/' + ${rental.id}}"
                       method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="patch"/>
                    <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                </form>
            </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${viewingMyRentals}">
            <a href="/rental/myrentals/requests" class="btn btn-secondary">View Requests</a>
        </div>
        <div th:if="${viewingMyRentalsRequests}">
            <a href="/rental/myrentals" class="btn btn-secondary">Back to rentals</a>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(rentals)}" class="alert alert-warning mt-3">
        <span th:if="${viewingMyRentalsRequests == null}">No rentals found!</span>
        <span th:if="${viewingMyRentalsRequests}">No rental requests found!</span>
        <a th:if="${(viewingMyRentals == true) or (viewingMyRentalsRequests == true)}" href="/rental/myrentals" class="text-black">Go Back</a>
    </div>
</div>
</body>
</html>
